.team-image{
    border-radius: 200px;
    height: 200px;
    width: 200px;
}

.team-profile{
    width: 25%;
    display: inline-block;
    margin: 0 40px;
    text-align: center;
}

.designation{
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
}