<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <link href="../../../assets/css/login.css" rel="stylesheet"> -->

<div>
    <div class="row">
        <div class="col-md-offset-5 col-md-3 center-align login-box">
            <div class="form-login">
            <h4>Good Bye.</h4>
             </br>
            <div class="wrapper">
              <span class="group-btn">     
                  <button class="btn btn-primary btn-lg" ng-click="signout()">Signout <i class="fa fa-sign-in"></i></button>
              </span>
            </div>
            </div>
        
        </div>
    </div>
</div>
