
<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <link href="../../../assets/css/login.css" rel="stylesheet"> -->

<div>
    <div class="row">
        <div class="col-md-offset-5 col-md-3 center-align login-box">
            <div class="form-login">
            <h4>Welcome back.</h4>
             </br>
            <input type="email" style="width:100%; margin-top:10px;" id="userName" class="form-control input-md chat-input" placeholder="Email" validate="email" ng-model="email"/>
            </br>
            <input type="password" style="width:100%; margin-top:10px;" id="userPassword" class="form-control input-md chat-input" placeholder="Password" validate="required" ng-model="password"/>
            </br>
            <div class="wrapper">
             <div> <span style="color: red;">
              {{validateMessage}}
            </span></div>
            <span class="group-btn">     
                <button style="margin:10px;" class="btn btn-primary btn-lg theme-button" ng-click="login()">Login <i class="fa fa-sign-in"></i></button>
                <div><a href class="login-text">Forgot password?</a></div>
            </span>
            </div>
            </div>
        
        </div>
    </div>
</div>

<!--<main class="auth-main">
  <div class="auth-block">
    <h1>Sign in to Performance Analyser </h1>
    <a href="#/register" class="auth-link">New to Performance Analyser? Sign up!</a>

    <form class="form-horizontal">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model="email">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>

        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model="password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default btn-auth" ng-click="login()">Sign in</button>
          <a href class="forgot-pass">Forgot password?</a>
        </div>
      </div>
    </form>

  </div>
</main>-->