<div data-ng-mousemove="pause()" data-ng-mouseleave="play()" class="slider">
  <div data-ng-repeat="slide in slides" data-ng-show="isActiveIndex($index)" data-ng-class="{prev: isPrev}" class="slide {{setAnimation(slide.animate)}}">

    <img class="slide-object" data-ng-src="{{slide.src}}" alt="Slide {{$index}}">

    <div data-ng-show="isActiveIndex($index) && slide.caption" class="slider-caption center-center">
      {{slide.caption}}
    </div>
  </div>

  <div data-ng-show="slides.length > 1" class="slider-controls">

    <a data-ng-click="prev()" class="control-d left">
      <i class="icon fa fa-chevron-left"></i>
    </a>
    <a data-ng-click="next()" class="control-d right">
      <i class="icon fa fa-chevron-right"></i>
    </a>

    <ol class="control-i">
      <li data-ng-repeat="slide in slides" data-ng-class="{active: isActiveIndex($index)}" data-ng-click="setActiveIndex($index)" class="indicator"></li>
    </ol>
  </div>
</div>