.menu-button {
  position: absolute;
  right: 80px;
  top: 25px;
  display: none !important;
  font-size: 26px !important;
}

.visible {
  display: block !important;
}

@media screen and (max-width: 779px) {
  .menu-button {
    display: block !important;
    color: white;
  }
  .nav-wraper {
    float: right;
    background: #353438;
    margin-top: 7px;
    display: none;
  }
}

@media screen and (max-width: 779px) {
  .al-logo div {
    display: none !important;
  }
  .al-logo:before {
    content: "KHM";
    // font-size: 24px;
    // font-family: Roboto, sans-serif;
    margin: -6px 0 0 -21px;
    // float: left; 
  }
  .nav-wraper {
    margin-top: 58px;
    width: 100%;
    max-width: 200px;
  }
  .menu-item .menu-inner, .menu-item {
    display: block !important;
    height: auto !important;
    padding: 10px;
  }
  .menu-item .menu-inner {
    border-bottom: 1px solid;
  }
  .menu-item .menu-inner:last-child {
    border: none;
  }
}



.menu-item{
    display: table;
    height: 66px;
    border-spacing: 20px 0;
    .menu-inner {
        display: table-cell;
        vertical-align: middle;
        a {
            text-transform: uppercase;
            font-size: 13PX;
            color: $default;
            line-height: initial;
            margin: 0;
            padding: 0;
            border: 0;
            font-weight: normal;
        }
        ul{
            width: auto;
            top: 41px;
            right: auto;
            left: 0 !important;
            background: $default;
            li {
                border-bottom: 1px solid $sidebar;
                &:last-child {
                    border-bottom: none;
                }
                a{
                    text-transform: capitalize;
                    font-size: 13PX; 
                    color: $default-text;
                    padding: 8px 10px;
                    &:hover {
                        color: $hoverlink;
                    }
                }
            }
            
            
            i.dropdown-arr {
                display: none;
            }
        }
    }
    
}
.nav-wraper{
    float: right;
}















*[ng-click],
*[data-ng-click] {
  cursor: pointer;
}
.slider {
  position: relative;
  overflow: hidden;
}
.slider .slide {
  z-index: 1;
}
.slider .slide .slide-object {
  width: 100%;
  height: auto;
}
.slider-caption {
  position: absolute;
  width: 38%;
  padding: 10px;
  color: #fff;
  background-color: rgba(0,0,0,.5);
}
.slider-caption.center {
  left: 50%;
  transform: translate(-50%, 0);
}
.slider-caption.left {
  left: 12%;
}
.slider-caption.right {
  right: 12%;
}
.slider-caption.bottom {
  bottom: 18%;
}
.slider-caption.top {
  top: 12%;
}
.slider-caption.center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slider-controls .control-d {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 12%;
}
.slider-controls .control-d.left {
  left: 0;
}
.slider-controls .control-d.right {
  right: 0;
}
.slider-controls .control-d > .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 24px;
}
.slider-controls .control-i {
  position: absolute;
  bottom: 6%;
  left: 12%;
  right: 12%;
  padding-left: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.slider-controls .control-i > .indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.slider-controls .control-i > .indicator.active {
  background-color: #fff;
}


/* Animation */

.slide.ng-hide-add {
  position: absolute;
  top: 0;
  z-index: -1;
}

.animate-fade.ng-hide-add.ng-hide-add-active,
.animate-fdde.ng-hide-remove {
  animation: fadeOut .33s;
}
.animate-fade.ng-hide-add,
.animate-fade.ng-hide-remove.ng-hide-remove-active {
  animation: fadeIn .33s;
}

.animate-bounce.ng-hide-add.ng-hide-add-active,
.animate-bounce.ng-hide-remove {
  animation: bounceOutLeft .66s;
}
.animate-bounce.ng-hide-add,
.animate-bounce.ng-hide-remove.ng-hide-remove-active {
  animation: bounceInRight .66s;
}
.animate-bounce.prev.ng-hide-add.ng-hide-add-active,
.animate-bounce.prev.ng-hide-remove {
  animation: bounceOutRight .66s;
}
.animate-bounce.prev.ng-hide-add,
.animate-bounce.prev.ng-hide-remove.ng-hide-remove-active {
  animation: bounceInLeft .66s;
}

.animate-slide.ng-hide-add.ng-hide-add-active,
.animate-slide.ng-hide-remove {
  animation: slideOutLeft .33s;
}
.animate-slide.ng-hide-add,
.animate-slide.ng-hide-remove.ng-hide-remove-active {
  animation: slideInRight .33s;
}
.animate-slide.prev.ng-hide-add.ng-hide-add-active,
.animate-slide.prev.ng-hide-remove {
  animation: slideOutRight .33s;
}
.animate-slide.prev.ng-hide-add,
.animate-slide.prev.ng-hide-remove.ng-hide-remove-active {
  animation: slideInLeft .33s;
}

.animate-flip.ng-hide-add.ng-hide-add-active,
.animate-flip.ng-hide-remove {
  animation: flipOutY .33s;
}
.animate-flip.ng-hide-add,
.animate-flip.ng-hide-remove.ng-hide-remove-active {
  animation: flipInY .33s;
}






















// body{
//     background: #F9F9FA
//   }
  .slideshow {
    width: 480px;
    height: 360px;
    background: #000;
    position: relative;
  }
  .slideshow-slides {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .slideshow-slides li {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0;
    padding: 0;
    transition: .2s;
    opacity: 0;
  }
  .slideshow-slides li.active {
    opacity: 1;
  }
  figure {
    margin: 0;
    padding: 0;
  }
  figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    padding: 10px;
  }
  
  .slideshow-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    list-style: none;
  }
  .slideshow-dots li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .slideshow-dots a {
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #fff;
    border-radius: 10px;
    text-indent: -9990px;
    opacity: .5;
    transition: .3s;
  }
  .slideshow-dots li.active a {
    opacity: 1;
  }