<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a ng-if="isLoged" href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>
  <div class="al-content">

    <a href="#/home" class="al-logo clearfix">
      <div>
        <!-- <link rel="icon" type="image/png" sizes="16x16" href="assets/img/recruiter/khm-recruiter-logo.png"> -->
        <img style=" height: 65px; width: 85px;" src="assets/img/recruiter/khm-log0-white.jpeg.jpeg" alt="About US">
        <span>KHM</span>Recruiter

        <img style=" height: 65px; width: 85px;" src="assets/img/recruiter/sgl-log0-white.jpeg" alt="About US">

      </div>

    </a>


    <!-- <div class="search">
    <i class="ion-ios-search-strong" ng-click="startSearch()"></i>
    <input id="searchInput" type="text" placeholder="Search for...">
  </div> -->

    <i class="fa fa-sort-desc menu-button" aria-hidden="true" ng-click="toggleMenu()"></i>
    <div class="nav-wraper" ng-class="menuToggle">
      <div class="menu-item">
        <!-- <div class="menu-inner">
          <div uib-dropdown>
            <a uib-dropdown-toggle class="profile-toggle-link">
              Solutions
            </a>
            <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
              <li>
                <a href="#/panalyser" ng-click="toggleMenu()" >Performance Analyser</a>
              </li>
              <li>
                <a href="#/panalytics" ng-click="toggleMenu()" >Predictive Analytics</a>
              </li>
            </ul>
          </div>
        </div> -->

        <!-- <div class="menu-inner">
          <div uib-dropdown>
            <a href="#/team" ng-click="toggleMenu()">
              Team
            </a>

          </div>
        </div> -->

        <div class="menu-inner">
          <div uib-dropdown>
            <a href="#/jobs" ng-click="toggleMenu()">
              Jobs
            </a>
          </div>
        </div>
        <div class="menu-inner">
          <div uib-dropdown>
            <a href="#/apply" ng-click="toggleMenu()">
              Apply
            </a>
          </div>
        </div>

        <div class="menu-inner">
          <div uib-dropdown>
            <a href="#/result" ng-click="toggleMenu()">
              Result
            </a>
          </div>
        </div>

        <div class="menu-inner">
          <div class="clearfix">
            <div class="al-user-profile" uib-dropdown>
              <a uib-dropdown-toggle class="profile-toggle-link">
                <!-- <img ng-src="{{::( 'software-testing' | profilePicture )}}"> -->
                <i style="font-size: 22px;" class="fa fa-user ng-scope"></i>

              </a>
              <ul class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
                <!-- <li>
                       <i class="dropdown-arr"></i>
                     </li> -->
                <!--<li><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>-->
                <li ng-if="!isLoged">
                  <a href="#/signin" ng-click="toggleMenu()">
                    <i class="fa fa-user"></i>SignIn</a>
                </li>
                <!--<li><a href><i class="fa fa-cog"></i>Settings</a></li>-->
                <li ng-if="isLoged">
                  <a href="#/signout" class="signout" ng-click="toggleMenu()">
                    <i class="fa fa-power-off"></i>Sign out</a>
                </li>
              </ul>
            </div>

          </div>
        </div>





        <msg-center ng-if="isLoged">
          <ul class="al-msg-center clearfix">
            <li uib-dropdown="" class="dropdown" style="">
              <a href="" uib-dropdown-toggle="" class="dropdown-toggle"
                aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell-o"></i><span>5</span>
                <div class="notification-ring"></div>
              </a>
            </li>
          </ul>
        </msg-center>



      </div>
    </div>
  </div>
</div>