<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://profile.khm.ae/apple-touch-icon-144x144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://profile.khm.ae/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://profile.khm.ae/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="http://profile.khm.ae/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" href="http://profile.khm.ae/apple-touch-icon.png">
<link rel="shortcut icon" href="http://profile.khm.ae/favicon.ico">

<link rel="stylesheet" href="./KHM Profile_files/style.css">
<link rel="stylesheet" href="./KHM Profile_files/portfolio.css">
<link rel="stylesheet" href="./KHM Profile_files/foundation.css">
<link rel="stylesheet" href="./KHM Profile_files/normalize.css">
<!-- <link rel="stylesheet" href="./KHM Profile_files/supersized.css" type="text/css" media="screen">
<link rel="stylesheet" href="./KHM Profile_files/supersized.shutter.css" type="text/css" media="screen"> -->
<link rel="stylesheet" href="./KHM Profile_files/prettyPhoto.css" type="text/css" media="screen" title="prettyPhoto main stylesheet">


<div>
    <div class="content-container">
        <div class="parallax-one">
            <div class="quote1-pattern" id="parallax-one"><div class="quote1-shape"></div></div>
            <div class="row">
                <div class="twelve columns parallax-container">
                    <h1 class="parallax-title"> Extensive Presence &amp; Mission </h1>
                    <div class="parallax-divider">
                        <img src="./KHM Profile_files/appbar.people.multiple.png" alt="Read More About Us">
                    </div>
                    <h2 class="parallax-title">Extensive Presence </h2>
                    <h3 class="parallax-subtitle">
                        With major offices in United Arab Emirates and Africa and a network of offices
                        spanning across Pakistan, KHM can provide both localized services and an
                        international standard of support to meet its global client’s needs.
                    </h3>
                    <h2 class="parallax-title"> Mission</h2>
                    <h3 class="parallax-subtitle">
                        Our aim is turn your goals into reality with our full suite
                        of highly customized strategic solutions. We always aim to go beyond your expectations.
                        Our mission is clear, we go deep to unlock insights into any issue and have the courage
                        to find the right solution for it. We not just focus on working with you to build upon
                        the capabilities that give you a sustainable advantage rather we shape your future.
                    </h3>
                </div>
            </div>
        </div>

        
        <div class="parallax-two">
            <div class="quote2-pattern"><div class="quote2-shape"></div></div>
            <div class="row">
                <div class="twelve columns parallax-container">
                    <h1 class="parallax-title">ABOUT US</h1>
                    <div class="parallax-divider">
                        <img src="./KHM Profile_files/appbar.book.open.writing.png" alt="Read More About Us">
                    </div>
                    <h2 class="parallax-subtitle">
                        KNIGHT HUMAN GROUP (KHM) is an investment holding company that provides
                        solutions and services through seven segments: Manpower Mobilization, Travel &amp;
                        Tour, Technical Services, Trading, Valet Parking and Easy Sales.
                    </h2>
                </div>
            </div>
        </div>

        <!-- About Us Page -->
        <div class="page-container pattern-1" id="about-us">

            <div class="row">

                <div class="twelve columns page-content">
                    <h1 class="page-title">Who We Are</h1>
                    <h2 class="page-subtitle">
                        KHM believes in providing reliable, efficient and quality services to its customers. It believes in developing best suited solutions,
                        customized as per individual clients needs by conducting a thorough research and fully understanding its client’s requirements.
                        It provides ready to implement extensively researched, most affordable and tested solutions to save the valuable time and money
                        of its customers without comprising quality at any ground.
                    </h2>
                </div>

                <div class="four columns about mobile-three-one">
                    <img src="./KHM Profile_files/1.png" alt="About US">
                    <h3 class="about-us-title">OUR Vision</h3>
                    <p class="about-us-text">
                        A strong culture of quality, efficiency, legitimacy, timeliness, limitless innovation
                        and client satisfaction reflected in our clear set of values making us the most
                        preferred solutions provider in the South Asian region.
                    </p>

                </div>

                <div class="four columns about mobile-three-one">
                    <img src="./KHM Profile_files/2.png" alt="About US">
                    <h3 class="about-us-title">OUR Policy</h3>
                    <p class="about-us-text">
                        With major offices in United Arab Emirates and Africa and a network of offices
                        spanning across Pakistan, KHM can provide both localized services and an
                        international standard of support to meet its global client’s needs for human
                        resource mobilization, oversees placement, technology, car parking, travel &amp; tour,
                        trading and easy sales.

                    </p>
                </div>

                <div class="four columns about mobile-three-one">
                    <img src="./KHM Profile_files/3.png" alt="About US">
                    <h3 class="about-us-title">OUR Clients</h3>
                    <p class="about-us-text">
                        At KHM we provide seamlessly high quality, reliable solutions that add real value
                        to the business performance of our clients. Our solutions are based on a
                        combination of global and local knowledge and the capability to tackle the
                        challenges of global achievement and working across the borders. With presence
                        of offices in over 3 countries and a client base which covers a surprising number
                        of over 17 countries we truly are global..
                    </p>
                </div>

                <div class="twelve columns page-section hide-for-760">
                    <h1 class="page-title">CEO Message</h1>
                    <p class="page-subtitle" style="font-size:18px;line-height:25px;">
                        I am immensely pleased to present the high quality services provided by our team, consisting of thorough professionals and experts.
                        Quality has always been our first priority and we are committed to deliver the very best to our esteemed clients as they like it.
                        Aspiring to sour to the heights of global standards, our professionalism aims at understanding our client’s mindset,
                        so that the results are as per their liking. Our keen and vigilant eye is also on the transitions that are taking place
                        in the industry, as we accordingly equip ourselves to meet the changing trends. To keep ourselves at par with the ever
                        changing standard, we never slack in picking up the very best of human resource that is there to do it for us.

                        I am thoroughly privileged and pleased to see how our company is managing the juxtaposition of very best suited human
                        capital with your unique and subtle requirements in a most conducive working environment.

                        We will be more than flattered to have your enquiries and to provide an appropriate and prompt feedback to that.
                        On behalf of KHM Consultancy &amp; Knight Human Resources (Pvt) Ltd, I assure you of our very best services that we provide by
                        integrating care and perseverance, while providing you with the solutions.
                    </p>
                </div>

                <div class="twelve columns hide-for-760">
                    <div class="section-diver">
                        <img src="./KHM Profile_files/crown.png" alt="Our Skills">
                    </div>
                </div>

                <div class="eight columns mobile-four hide-for-760">
                    <div id="diagram" class=""><svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="600" height="600" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><circle cx="300" cy="300" r="85" fill="#e44d26" stroke="none" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><text x="300" y="307.5" text-anchor="middle" font="24px PT Sans" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font: 24px &quot;PT Sans&quot;;"><tspan style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">- Click -</tspan></text><path fill="none" stroke="#01414e" d="M201.50061013580734,330.11428558644184A103,103,0,1,1,215.62733943823386,359.07837294415776" stroke-width="26" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-width: 26;"></path><path fill="none" stroke="#7e898c" d="M295.3583669385674,167.08102000646025A133,133,0,1,1,218.11702378168746,195.19456977030597" stroke-width="26" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-width: 26;"></path><path fill="none" stroke="#2b879e" d="M145.88047217731136,353.06760917651656A163,163,0,1,1,302.8447422492772,462.97517431049175" stroke-width="26" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-width: 26;"></path><path fill="none" stroke="#87a094" d="M139.99574849687693,407.9242303698541A193,193,0,1,1,477.39312047626026,223.96921144894648" stroke-width="26" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-width: 26;"></path><path fill="none" stroke="#c0cec8" d="M150.78387478197456,465.72129608145883A223,223,0,0,1,390.70227140590345,96.2793629457" stroke-width="26" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-width: 26;"></path></svg></div>
                    <div class="get">
                        <div class="arc">
                            <span class="text">Hajj &amp; Umrah</span>
                            <input type="hidden" class="percent" value="95">
                            <input type="hidden" class="color" value="#01414e">
                        </div>
                        <div class="arc">
                            <span class="text">Tour Management</span>
                            <input type="hidden" class="percent" value="90">
                            <input type="hidden" class="color" value="#7e898c">
                        </div>
                        <div class="arc">
                            <span class="text">Valet Parking</span>
                            <input type="hidden" class="percent" value="80">
                            <input type="hidden" class="color" value="#2B879E">
                        </div>
                        <div class="arc">
                            <span class="text">Technical Services</span>
                            <input type="hidden" class="percent" value="53">
                            <input type="hidden" class="color" value="#87a094">
                        </div>
                        <div class="arc">
                            <span class="text">Trading</span>
                            <input type="hidden" class="percent" value="45">
                            <input type="hidden" class="color" value="#C0CEC8">
                        </div>
                    </div>
                </div>

                <div class="four columns statistics hide-for-small">
                    <div class="twelve columns by-numbers clients-numbers mobile-two">
                        <p class="by-numbers-text"><span>8000</span> Construction workers</p>
                    </div>
                    <div class="twelve columns by-numbers clients-numbers mobile-two">
                        <p class="by-numbers-text"><span>5000</span> Security guards</p>
                    </div>
                    <div class="twelve columns by-numbers clients-numbers mobile-two">
                        <p class="by-numbers-text"><span>18500</span>Retail &amp; Other workers</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Parallax Three - Content -->
        <div class="parallax-three">
            <div class="quote3-pattern"><div class="quote3-shape"></div></div>
            <div class="row">
                <div class="twelve columns parallax-container">
                    <h1 class="parallax-title">Portfolio</h1>
                    <div class="parallax-divider">
                        <img src="./KHM Profile_files/appbar.camera.png" alt="Read More About Us">
                    </div>
                    <h2 class="parallax-subtitle">
                        A broad spectrum of diversified products and services to best meet your
                        customized business requirements to help achieve strategic and operational
                        excellence
                    </h2>
                </div>
            </div>
        </div>
        <!-- Our Portfolio Page -->
        <div class="page-container pattern-2" id="Nationalities">
            <div class="row">
                <div class="twelve columns page-content">
                    <h1 class="page-title">Our Portfolio</h1>
                    <h2 class="page-subtitle">
                        We are dedicated to <span>
                            helping organizations
                        </span>
                        enhance their enterprise value in an
                        increasingly <span>
                            business environment
                        </span>.
                        No matter how complex or
                        challenging the assignment, <span>
                            clients benefit
                        </span>
                        from our extensive global and local
                        expertise, experience and knowledge reflected in our broad portfolio. We offer a
                        very wide spectrum of products and services that construct a highly diversified
                        portfolio that can fit to different customized client’s needs.<br>
                        We have provided exceptional services in sales of<span>
                            electronic products, travel and
                            tourism, manpower mobilization, technical support and logistics and happen to
                            enjoy
                        </span>
                        an extensive client base spread over 17+ countries namely.
                    </h2>
                </div>
                <div class="twelve columns portfolio-filter hide-for-760">
                    <ul class="filterOptions">
                       <li class="active"><a href="http://profile.khm.ae/index.html#" class="Nationalities"><img src="./KHM Profile_files/2(1).png" alt="Nationalities"><span>Nationalities</span></a></li>
                    </ul>
                </div>
                <div class="twelve columns portfolio">
                    <ul class="ourHolder">
                       
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/Cameroon.png" alt="Portfolio Item" class="wide-image"></div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Cameroon</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/eygpt.png" alt="Portfolio Item" class="wide-image"></div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Eygpt</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/Ghana.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Ghana</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/rwanda.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Rwanda</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/indonesia.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Indonesia</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/Morocco.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Morocco</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/nepal.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Nepal</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/Nigeria.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Nigeria</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/Pakistan.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Pakistan</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/Philipines.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Philipines</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/Russia.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Russia</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/tanzania.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Tanzania</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/tunisia.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Tunisia</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/uganda.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Uganda</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="Two columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/Vietnam.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Vietnam</a></h4>
                                    </div>
                                </div>
                        </li>
                        <li class="four columns item mobile-two" data-id="id-1" data-type="Nationalities">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/eustates.png" alt="Portfolio Item" class="wide-image">
                                </div>
                                    <div class="portfolio-details">
                                        <h4 class="portfolio-title"><a href="http://profile.khm.ae/index.html#" data-reveal-id="single-project-photo">Eastern Europeon States</a></h4>
                                    </div>
                                </div>
                        </li>

                        <li class="four columns item mobile-two" data-id="id-1" data-type="Licences" style="display:none">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/license1.png" alt="license 1" class="wide-image">
                                </div>
                                </div>
                        </li>
                        <li class="four columns item mobile-two" data-id="id-1" data-type="Licences" style="display:none">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/license2.png" alt="license 2" class="wide-image">
                                </div>
                                </div>
                        </li>
                        <li class="four columns item mobile-two" data-id="id-1" data-type="Licences" style="display:none">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/license3.png" alt="license 3" class="wide-image">
                                </div>
                                </div>
                        </li>
                        <li class="four columns item mobile-two" data-id="id-1" data-type="Licences" style="display:none">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/license4.png" alt="license 4" class="wide-image">
                                </div>
                                </div>
                        </li>
                        <li class="four columns item mobile-two" data-id="id-1" data-type="Licences" style="display:none">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/license9.png" alt="license 9" class="wide-image">
                                </div>
                                </div>
                        </li>
                        <li class="four columns item mobile-two" data-id="id-1" data-type="Licences" style="display:none">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/licencex.jpg" alt="license 6" class="wide-image">
                                </div>
                                </div>
                        </li>
                        <li class="four columns item mobile-two" data-id="id-1" data-type="Licences" style="display:none">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/license7.jpg" alt="license 7" class="wide-image">
                                </div>
                                </div>
                        </li>
                        <li class="four columns item mobile-two" data-id="id-1" data-type="Licences" style="display:none">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/license8.jpg" alt="license 8" class="wide-image">
                                </div>
                                </div>
                        </li>                        
                        <li class="four columns item mobile-two" data-id="id-1" data-type="Licences" style="display:none">
                            <div class="portfolio-item">
                                <div class="photo-link">
                                    <img src="./KHM Profile_files/license5.png" alt="license 5" class="wide-image"></div>
                                </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Parallax Four - Content -->
        <div class="parallax-four">
            <div class="quote4-pattern"><div class="quote4-shape"></div></div>
            <div class="row">
                <div class="twelve columns parallax-container">
                    <h1 class="parallax-title">SERVICES</h1>
                    <div class="parallax-divider">
                        <img src="./KHM Profile_files/appbar.cogs.png" alt="Read More About Us">
                    </div>
                    <h2 class="parallax-subtitle">
                        KHM support its clients to find prompt solutions to their specific needs and assist
                        them in meeting their manpower, travel &amp; tour, technical support, logistics, and
                        selling requirements in a timely and expert manner.
                    </h2>
                </div>
            </div>
        </div>

        <!-- Our Services Page -->
        <div class="page-container pattern-1" id="services">

            <div class="row">
                <div class="twelve columns page-content">
                    <h1 class="page-title">Our Services</h1>
                    <h2 class="page-subtitle">
                        We have a highly refined work methodology in which we closely connect with
                        each client to learn about their respective internal operating systems and fully
                        understand their requirements. By linking their strategy and systems to their need
                        we are able to determine the correct solution for them and develop customized
                        approach, modern solution, and recommendations for development and even
                        propose assistance with, or take complete responsibility for the implementation
                        of each solution.<br>
                        Within the key areas of Travel &amp; Tour, Manpower mobilization, Logistics,
                        Technology and Sales of electronic products, our professionals are trained at
                        delivering effective solutions in the following service areas:
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="twelve columns services-top">
                    <div class="four columns services first-column mobile-two">
                        <h3 class="services-title">Construction</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/1(1).png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            We are the masters of manpower mobilization in the construction field. We not just provide skilled manpower rather we help you develop a team that can help you achieve your full construction potential. Our workers are highly trained to work under pressure and odd working hours, fully equipped with the required skills and knowledge, handpicked to be recruited to not just fulfill the responsibilities assigned to them rather add more value to the company they are deputed to. We are proud to announce that we have provided 8000+ construction workers to highly satisfied commercial, residential, governmental and industrial companies throughout the United Arab Emirates (UAE) &amp; Qatar.
                        </p>
                    </div>
                    <div class="four columns services middle-column mobile-two">
                        <h3 class="services-title">Security</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/2(2).png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            We are one stop shop for total Security solutions. We provide best suited security
                            workforce to cater to client’s essential security needs. We provided security
                            guards to 8 security companies in UAE, including Abu Dhabi, Dubai and Ras Al
                            Khaima.
                        </p>
                    </div>
                    <div class="four columns services last-column mobile-two">
                        <h3 class="services-title">Consulting</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/3(1).png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            We provide cutting- edge professional management consultancy, having
                            specialization in setting up new business and handling other activities pertaining
                            to the business set up mainly in the United Arab Emirates (UAE).
                        </p>
                    </div>
                </div>
                <div class="twelve columns services-top">
                    <div class="four columns services first-column mobile-two">
                        <h3 class="services-title">Healthcare</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/4.png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            We have a specialized healthcare practice team which focus on finding you top
                            healthcare talent, and get you access to tens of thousands of medical and
                            administrative professionals around the globe.
                        </p>
                    </div>
                    <div class="four columns services middle-column mobile-two">
                        <h3 class="services-title">Manufacturing/operations</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/5.png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            After setting up a business the most integral part is running it smoothly and
                            successfully. With our assistance and professional service we help our clients save
                            their time, effort and money. We work with our clients to their unique
                            requirements and to create the perfect business environment to operate their
                            business.
                        </p>
                    </div>
                    <div class="four columns services last-column mobile-two">
                        <h3 class="services-title">Engineering</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/6.png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            Our firm has a number of long-standing relationships with international
                            engineering companies to supply services, skilled manpower and products across
                            all business sectors/ industries in South Asian region.
                        </p>
                    </div>
                </div>
                <div class="twelve columns services-top">
                    <div class="four columns services last-column mobile-two">
                        <h3 class="services-title">Hospitality</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/6.png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            Find the best hosts all over the world at our door step, and become part of our
                            multicultural hospitality community. We are the best provider of workers for
                            hospitality field and exclusively mobilize efficient workforce in the hospitality
                            industry across the world.
                        </p>
                    </div>

                    <div class="four columns services last-column mobile-two">
                        <h3 class="services-title">Logistic/shipping</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/6.png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            We have a broad portfolio of unparallel supply chain software, supply chain
                            skilled manpower and domain expertise unique to the transportation and logistics
                            services markets. We serve to your logistics needs in the most efficient manner
                            possible.
                        </p>
                    </div>

                    <div class="four columns services last-column mobile-two">
                        <h3 class="services-title">Textile/Garments</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/6.png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            We combine creativity and innovation with the highest levels of quality to
                            introduce a wide range of fabrics in the market which is unique in its own sense.
                            Our textile projects range from residential to restaurants, wellness spa, hospitality
                            and even offices. We currently operate in the UAE and distribute our collection
                            worldwide.
                        </p>
                    </div>
                </div>
                <div class="twelve columns services-top">
                    <div class="four columns services last-column mobile-two">
                        <h3 class="services-title">Destination Management</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/6.png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            As a travel consulting company, we organize personalized travel packages which
                            are completely tailor-made to suite our customers’ requirements. We are a
                            professionally managed and highly dedicated tour operator to facilitate all your
                            travel needs from air ticketing, visa consultancy to even hotel accommodation
                            and car hire.
                        </p>
                    </div>

                    <div class="four columns services last-column mobile-two">
                        <h3 class="services-title">Valet Parking</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/6.png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            We provide premiere valet parking services which is the most liked in UAE. We
                            are the hub of quality valet parking services. We make your experience
                            completely hassle free and save your time and money. We have highly trained
                            professional valet service attendant and we provide total valet parking and
                            transportation solutions.
                        </p>
                    </div>

                    <div class="four columns services last-column mobile-two">
                        <h3 class="services-title">Hajj &amp; Umrah</h3>
                        <div class="services-image" style="display:none;">
                            <div class="services-divider-top"></div>
                            <img src="./KHM Profile_files/6.png" alt="Our Strategy">
                            <div class="services-divider-bottom"></div>
                        </div>
                        <p class="services-text">
                            Embark on your most awaited spiritual journey with our world class hassle free
                            services. We provide highly effective and affordable luxurious Hajj &amp; Umrah
                            packages in Pakistan. We cater to unique needs of our clients who seek for
                            different and like to travel in a different manner by offering them our customized
                            packages to best suit their needs.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Parallax Five - Content -->
        <div class="parallax-five">
            <div class="quote5-pattern"><div class="quote5-shape"></div></div>
            <div class="row">
                <div class="twelve columns parallax-container">
                    <h1 class="parallax-title">LATEST NEWS</h1>
                    <div class="parallax-divider">
                        <img src="./KHM Profile_files/appbar.globe.png" alt="Read More About Us">
                    </div>
                    <h2 class="parallax-subtitle">
                        We believe in building long-term relations with our clients and therefore we love
                        to keep them updated about any new happening. We keep updating news as it
                        comes in to keep our clients well informed in a timely manner. Stay in touch and
                        keep visiting our news section to know what’s new!
                    </h2>
                </div>
            </div>
        </div>

        <!-- Our Latest News Page -->
        <div class="page-container pattern-2" id="news">

            <div class="row">
                <div class="twelve columns page-content">
                    <h1 class="page-title">Clients</h1>
                    <h2 class="page-subtitle">Some of our valuable clients are:</h2>
                </div>

                <div class="twelve columns news">
                
                        <!-- News -->
                        <div class="news-section orbit-slide" data-thumb="images/Security.png" style="z-index: 3; opacity: 1; display: block;">

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-1.png" alt="skill force" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-9.png" alt="lms" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-4.png" alt="al najma farida" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-10.png" alt="berly" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-2.png" alt="Qbg" class="wide-image"></a>
                            </div>
                            <!--<div class="three columns news-item mobile-two">
                                <a href="#" class="photo-link" data-reveal-id=""><img src="images/index/logo/180x55-10.png" alt="Amarats international" class="wide-image"></a>
                            </div>-->
                        </div>

                        <!-- Twitter Feed -->
                        <div class="twitter-section orbit-slide" data-thumb="images/Construction.png" style="display: block;">
                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/asia.png" alt="skill force" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-14.png" alt="lms" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-18.png" alt="al najma farida" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/logoNew2.png" alt="berly" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/logoNew1.png" alt="Qbg" class="wide-image"></a>
                            </div>
                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/Client-2.png" alt="Amarats international" class="wide-image"></a>
                            </div>
                        </div>

                        <div class="twitter-section orbit-slide" data-thumb="images/Retail-Other.png" style="display: block;">

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-13.png" alt="skill force" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-17.png" alt="lms" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-15.png" alt="al najma farida" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-8.png" alt="berly" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-20.png" alt="Qbg" class="wide-image"></a>
                            </div>
                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-11.png" alt="Amarats international" class="wide-image"></a>
                            </div>

                        </div>

                        <div class="twitter-section orbit-slide" data-thumb="images/Transport.png" style="display: block;">
                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-12.png" alt="berly" class="wide-image"></a>
                            </div>

                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/180x55-6.png" alt="Qbg" class="wide-image"></a>
                            </div>
                            <div class="three columns news-item mobile-two">
                                <a href="http://profile.khm.ae/index.html#" class="photo-link" data-reveal-id=""><img src="./KHM Profile_files/logoNew3.png" alt="Amarats international" class="wide-image"></a>
                            </div>
                        </div>
                    </div>
                    </div>

            </div>
        </div>

        <!-- Parallax Six - Content -->
        <div class="parallax-six">
            <div class="quote6-pattern"><div class="quote6-shape"></div></div>
            <div class="row">
                <div class="twelve columns parallax-container">
                    <h1 class="parallax-title">CONTACT US</h1>
                    <div class="parallax-divider">
                        <img src="./KHM Profile_files/appbar.email.png" alt="Read More About Us">
                    </div>
                    <h2 class="parallax-subtitle">
                        We are waiting to hear from you! Stay connected at the contact us information
                        given below. Send in your queries and we are always here to listen to you!
                    </h2>
                </div>
            </div>
        </div>

        <!-- Contact Page -->
        <div class="page-container pattern-1" id="contact">

            <div class="row">
                <div class="twelve columns page-content">
                    <h1 class="page-title">Contact Us</h1>

                </div>
            </div>

            

            <div class="row">

                <div class="twelve columns contact">
                    <div class="orbit-wrapper" style="width: inherit; height: inherit;"><div id="contact-slider" class="orbit with-bullets" style="width: inherit; height: inherit;"><img data-src="holder.js/16x5" class="fluid-placeholder" alt="16x5" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAFCAYAAABM6GxJAAAA10lEQVQoU2XQSwtGQBTG8WdcSkmI4iNYUCzl6ysbxcpKVhYuNSVEub2d2b6L2Zym3/nPsLIsv67r4DgOkiRB27ZQVRW6ruO+byiKAk3TwBjDeZ7Y9x2yLMP3fUiSBDaO4zdNE+gQUNc1LMuCYRgCJXzbNgHQ7HkeXNcF27bheR4Y5/yb5xl93wugLEus64r3fRGGIUzTRFEUAkjTVIC0jOqiKPoHqqqC67oCOI4DQRCAZgTEcYxlWcQTh2EQJX8FTdOINEqlS7Qlz3Px3izLBED/QxWcc/wAmKiGtarLfnIAAAAASUVORK5CYII=" style="background-color: rgb(238, 238, 238);">

                        <!-- Contact Details -->
                        <div class="contact-details orbit-slide" data-thumb="images/contact-details.png" style="z-index: 3; opacity: 1; display: block;">
                            <div class="four columns first-column mobile-three-one contact-margin">
                                <h3 class="contact-title">Head Office</h3>
                                <div class="contact-image hide-for-760">
                                    <div class="contact-divider-top"></div>
                                    <img src="./KHM Profile_files/san-francisco.jpg" alt="San Francisco">
                                    <div class="contact-divider-bottom"></div>
                                </div>
                                <p class="contact-text">Office # 602, The Prism Tower, <br>Business Bay Dubai. </p><p class="contact-text"><span>EMAIL:</span> info@khm.ae </p><p class="contact-text"><span>PHONE:</span> +971 50 409 1180,+971 55 665 6733, +971 4   558  9850 </p>
                            </div>
                            <div class="four columns middle-column mobile-three-one contact-margin">
                                <h3 class="contact-title">Pakistan Office</h3>
                                <div class="contact-image hide-for-760">
                                    <div class="contact-divider-top"></div>
                                    <img src="./KHM Profile_files/los-angeles.jpg" alt="Los Angeles">
                                    <div class="contact-divider-bottom"></div>
                                </div>
                                <p class="contact-text">Office number 3/19 , 5th floor ,silk centre,<br> Muree road , Rawalpindi </p><p class="contact-text"><span>EMAIL:</span> gm@khmtravel.com</p><p class="contact-text"><span>PHONE:</span> +92514264144-6</p>
                            </div>
                            <div class="four columns last-column mobile-three-one contact-margin">
                                <h3 class="contact-title">Africa Office</h3>
                                <div class="contact-image hide-for-760">
                                    <div class="contact-divider-top"></div>
                                    <img src="./KHM Profile_files/new-york.jpg" alt="London">
                                    <div class="contact-divider-bottom"></div>
                                </div>
                                <p class="contact-text">Nabulagala Road off Balintuma kibuga<br> block 101/393 Nankulabye Kampala,<br> Uganda.</p><p class="contact-text"><span>EMAIL:</span> info@khmtravels.com</p><p class="contact-text"><span>PHONE:</span> 415.415.4155</p>
                            </div>
                        </div>

                        <!-- Contact Form -->
                        <div class="contact-form orbit-slide" data-thumb="images/contact-form.png" style="display: block;">

                            <div class="done"><b style="color:#e44d26;">THANK YOU!</b><br> We have received your message.</div>

                            <form method="post" action="http://avathemes.com/HTML5/Dreamer/contact-form.php">
                                <div class="twelve columns contact-form-div">
                                    <div class="eight columns mobile-four-760">
                                        <div class="six columns first-column mobile-two-670">
                                            <div class="row collapse">
                                                <div class="two mobile-one columns">
                                                    <span class="prefix"><img src="./KHM Profile_files/1(2).png" alt="Contact Name"></span>
                                                </div>
                                                <div class="ten mobile-three columns">
                                                    <input type="text" placeholder="Name *" name="name" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="six columns middle-column mobile-two-670">
                                            <div class="row collapse">
                                                <div class="two mobile-one columns">
                                                    <span class="prefix"><img src="./KHM Profile_files/2(1).png" alt="Contact Email"></span>
                                                </div>
                                                <div class="ten mobile-three columns">
                                                    <input type="text" placeholder="Email *" name="email" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="six columns first-column mobile-two-670">
                                            <div class="row collapse">
                                                <div class="two mobile-one columns">
                                                    <span class="prefix"><img src="./KHM Profile_files/3(2).png" alt="Phone Number"></span>
                                                </div>
                                                <div class="ten mobile-three columns">
                                                    <input type="text" placeholder="Phone Number" name="phonenumber" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="six columns middle-column mobile-two-670">
                                            <div class="row collapse">
                                                <div class="two mobile-one columns">
                                                    <span class="prefix"><img src="./KHM Profile_files/4(1).png" alt="Website"></span>
                                                </div>
                                                <div class="ten mobile-three columns">
                                                    <input type="text" placeholder="Website / Link" name="website" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="six columns first-column mobile-two-670">
                                            <div class="row collapse">
                                                <div class="two mobile-one columns">
                                                    <span class="prefix"><img src="./KHM Profile_files/5(1).png" alt="Project Budget"></span>
                                                </div>
                                                <div class="ten mobile-three columns">
                                                    <input type="text" placeholder="Project Budget" name="projectbudget" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="six columns middle-column mobile-two-670">
                                            <div class="row collapse">
                                                <div class="two mobile-one columns">
                                                    <span class="prefix"><img src="./KHM Profile_files/6(1).png" alt="Timeframe"></span>
                                                </div>
                                                <div class="ten mobile-three columns">
                                                    <input type="text" placeholder="Timeframe" name="timeframe" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="six columns first-column mobile-two-670">
                                            <div class="row collapse">
                                                <div class="two mobile-one columns">
                                                    <span class="prefix"><img src="./KHM Profile_files/7.png" alt="You&#39;re interested in?"></span>
                                                </div>
                                                <div class="ten mobile-three columns">
                                                    <input type="text" placeholder="You&#39;re interested in?" name="youreinterestedin" value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="six columns middle-column mobile-two-670">
                                            <div class="row collapse">
                                                <div class="two mobile-one columns">
                                                    <span class="prefix"><img src="./KHM Profile_files/8.png" alt="How did you hear about us?"></span>
                                                </div>
                                                <div class="ten mobile-three columns">
                                                    <input type="text" placeholder="How did you hear about us?" name="howdidyouhearaboutus" id="subject" value="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="four columns last-column mobile-four-760">
                                        <textarea placeholder="Message *" name="comment"></textarea>
                                    </div>
                                    <div class="twelve columns submit-760">
                                        <input type="submit" class="button radius secondary submit-wide" value="Send Message" id="submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><div class="orbit-caption"></div>
                </div>
                </div>

                <div class="twelve columns contact-section" style="display:none;">
                    <h1 class="page-title">Social Media Icons &amp; Buttons</h1>
                    <h2 class="page-subtitle">We’re fortunate to work with <span>fantastic clients</span><br>from across the globe in over <span>11 countries</span> on design, branding, and <span>development projects.</span></h2>
                </div>
                <div class="twelve columns" style="display:none;">
                    <div class="section-divider">
                        <img src="./KHM Profile_files/social-media.png" alt="Read More About Us">
                    </div>
                </div>
                <div class="twelve columns" style="display:none;">
                    <div class="social-media-buttons">
                        <a href="http://profile.khm.ae/index.html#" class="behance-button has-tip tip-top radius" title="Behance"></a>
                        <a href="http://profile.khm.ae/index.html#" class="blogger-button has-tip tip-top radius" title="Blogger"></a>
                        <a href="http://profile.khm.ae/index.html#" class="digg-button has-tip tip-top radius" title="Digg"></a>
                        <a href="http://profile.khm.ae/index.html#" class="dribbble-button has-tip tip-top radius" title="Dribbble"></a>
                        <a href="http://profile.khm.ae/index.html#" class="email-button has-tip tip-top radius" title="Email"></a>
                        <a href="http://profile.khm.ae/index.html#" class="facebook-button has-tip tip-top radius" title="Facebook"></a>
                        <a href="http://profile.khm.ae/index.html#" class="flickr-button has-tip tip-top radius" title="Flickr"></a>
                        <a href="http://profile.khm.ae/index.html#" class="gplus-button has-tip tip-top radius" title="Google Plus"></a>
                        <a href="http://profile.khm.ae/index.html#" class="instagram-button has-tip tip-top radius" title="Instagram"></a>
                        <a href="http://profile.khm.ae/index.html#" class="lastfm-button has-tip tip-top radius" title="Last.fm"></a>
                        <a href="http://profile.khm.ae/index.html#" class="linkedin-button has-tip tip-top radius" title="Linkedin"></a>
                        <a href="http://profile.khm.ae/index.html#" class="livejournal-button has-tip tip-top radius" title="LiveJournal"></a>
                        <a href="http://profile.khm.ae/index.html#" class="myspace-button has-tip tip-top radius" title="MySpace"></a>
                        <a href="http://profile.khm.ae/index.html#" class="paypal-button has-tip tip-top radius" title="Paypal"></a>
                        <a href="http://profile.khm.ae/index.html#" class="pinterest-button has-tip tip-top radius" title="Pinterest"></a>
                        <a href="http://profile.khm.ae/index.html#" class="reddit-button has-tip tip-top radius" title="Reddit"></a>
                        <a href="http://profile.khm.ae/index.html#" class="soundcloud-button has-tip tip-top radius" title="Sound Cloud"></a>
                        <a href="http://profile.khm.ae/index.html#" class="spotify-button has-tip tip-top radius" title="Spotify"></a>
                        <a href="http://profile.khm.ae/index.html#" class="stumbleupon-button has-tip tip-top radius" title="StumbleUpon"></a>
                        <a href="http://profile.khm.ae/index.html#" class="tumblr-button has-tip tip-top radius" title="Tumblr"></a>
                        <a href="http://profile.khm.ae/index.html#" class="twitter-button has-tip tip-top radius" title="Twitter"></a>
                        <a href="http://profile.khm.ae/index.html#" class="vimeo-button has-tip tip-top radius" title="Vimeo"></a>
                        <a href="http://profile.khm.ae/index.html#" class="wordpress-button has-tip tip-top radius" title="WordPress"></a>
                        <a href="http://profile.khm.ae/index.html#" class="youtube-button has-tip tip-top radius" title="Youtube"></a>
                    </div>
                </div>

                <div class="twelve columns sharing-section" style="display:none;">
                    <h3 class="sharing-buttons">Sharing Buttons</h3>
                </div>

                <div class="twelve columns sharing-icons" style="display:none;">
                    <div class="facebook-share-button">
                        <div class="facebook-share-button-over">Like It Now</div>
                        <div class="facebook-share-button-inner">
                            <!-- http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fthemeforest.net%2Fuser%2FAVAThemes%2Fportfolio&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21 -->
                            <iframe src="./KHM Profile_files/index.html" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true"></iframe>
                        </div>
                    </div>
                    <div class="twitter-tweet-button" style="display:none;">
                        <div class="twitter-tweet-button-over">Tweet It</div>
                        <div class="twitter-tweet-button-inner">
                            <!-- https://twitter.com/share -->
                            <a href="http://profile.khm.ae/index.html#" class="twitter-share-button" data-via="AvaThemes" data-related="AvaThemes">Tweet</a>
                            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "../../../platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                        </div>
                    </div>
                    <div class="linkedin-share-button" style="display:none;">
                        <div class="linkedin-share-button-over">Share It</div>
                        <div class="linkedin-share-button-inner">

                        </div>
                    </div>
                </div>

            </div>
        </div>

   
    </div>

    <!-- Pop Up Windows - Single Project With Video -->
    <div id="single-project-video" class="reveal-modal large">

        <div class="single-project-image-video">
            <!-- <iframe src="http://player.vimeo.com/video/48511895" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> -->
        </div>

        <h3 class="single-project-title">Project Page With Video</h3>

        <p class="single-project-details hide-for-small">
            <span>Published on</span> January 21st by Admin
            <span class="category">Category:</span> Photography, Website Design
            <span class="tags">Tags:</span> minimal, web, design, inspiration
        </p>

        <div class="four columns first-column">
            <p class="single-project-content"><span class="dropcap-1">S</span>it sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Placerat sit? In pulvinar a in a, et, proin?</p>
        </div>
        <div class="four columns middle-column">
            <p class="single-project-content"><span class="dropcap-2">S</span>it sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Nunc odio ac! Dapibus et. Nec!</p>
        </div>
        <div class="four columns last-column">
            <p class="single-project-content"><span class="dropcap-3">S</span>it sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Dapibus et. Nec! Aliquam hac, porttitor? Hac dis!</p>
        </div>

        <div class="single-project-tab-details">
            <dl class="tabs contained">
                <dt>Project Details</dt>
                <dd class="active"><a href="http://profile.khm.ae/index.html#simpleContained1">Design</a></dd>
                <dd class="hide-for-small"><a href="http://profile.khm.ae/index.html#simpleContained2">Development</a></dd>
                <dd class="hide-for-small"><a href="http://profile.khm.ae/index.html#simpleContained3">Client Details</a></dd>
            </dl>
            <ul class="tabs-content contained">
                <li class="active" id="simpleContained1Tab">Photos in Portfolio and News are property of <a href="http://seanwes.com/">Sean McCabe</a> and <a href="http://pixelpixelpixel.com/">pixelpixelpixel.com</a></li>
                <li id="simpleContained2Tab">Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Placerat sit? In pulvinar a in a, et, proin?</li>
                <li id="simpleContained3Tab">Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Placerat sit? In pulvinar a in a, et, proin?</li>
            </ul>
        </div>

        <div class="eight columns first-column">
            <p class="single-project-content">Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Placerat sit? In pulvinar a in a, et, proin? Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Nunc odio ac! Dapibus et. Nec! Aliquam hac, porttitor?</p>
        </div>
        <div class="four columns middle-column">
            <p class="single-project-content">Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Nunc odio ac! Dapibus et. Nec!</p>
        </div>

        <div class="single-project-share-buttons">

            <div class="twelve columns">
                <div class="facebook-share-button">
                    <div class="facebook-share-button-over">Like It Now</div>
                    <div class="facebook-share-button-inner">
                        <iframe src="./KHM Profile_files/like.html" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true"></iframe>
                    </div>
                </div>
                <div class="twitter-tweet-button">
                    <div class="twitter-tweet-button-over">Tweet It</div>
                    <div class="twitter-tweet-button-inner">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="AvaThemes" data-related="AvaThemes">Tweet</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "../../../platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                    </div>
                </div>
                <div class="linkedin-share-button">
                    <div class="linkedin-share-button-over">Share It</div>
                    <div class="linkedin-share-button-inner">
                        <script src="./KHM Profile_files/in.js" type="text/javascript"></script>
                        <script type="IN/Share" data-url="http://themeforest.net/user/AVAThemes/portfolio" data-counter="right">
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <a class="close-reveal-modal">×</a>
    </div>

    <!-- Pop Up Windows - Single Project With Photo -->
    <div id="single-project-photo" class="reveal-modal large">

        <div class="single-project-image-video">
            <img src="./KHM Profile_files/1.jpg" alt="Project Image">
        </div>

        <h3 class="single-project-title">Project Page With Featured Photo</h3>

        <p class="single-project-details hide-for-small">
            <span>Published on</span> January 21st by Admin
            <span class="category">Category:</span> Photography, Website Design
            <span class="tags">Tags:</span> minimal, web, design, inspiration
        </p>

        <div class="four columns first-column">
            <p class="single-project-content"><span class="dropcap-1">S</span>it sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Placerat sit? In pulvinar a in a, et, proin?</p>
        </div>
        <div class="four columns middle-column">
            <p class="single-project-content"><span class="dropcap-2">S</span>it sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Nunc odio ac! Dapibus et. Nec!</p>
        </div>
        <div class="four columns last-column">
            <p class="single-project-content"><span class="dropcap-3">S</span>it sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Dapibus et. Nec! Aliquam hac, porttitor? Hac dis!</p>
        </div>

        <div class="single-project-tab-details">
            <dl class="tabs contained">
                <dt>Project Details</dt>
                <dd class="active"><a href="http://profile.khm.ae/index.html#simpleContained4">Design</a></dd>
                <dd class="hide-for-small"><a href="http://profile.khm.ae/index.html#simpleContained5">Development</a></dd>
                <dd class="hide-for-small"><a href="http://profile.khm.ae/index.html#simpleContained6">Client Details</a></dd>
            </dl>
            <ul class="tabs-content contained">
                <li class="active" id="simpleContained4Tab">Photos in Portfolio and News are property of <a href="http://seanwes.com/">Sean McCabe</a> and <a href="http://pixelpixelpixel.com/">pixelpixelpixel.com</a></li>
                <li id="simpleContained5Tab">Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Placerat sit? In pulvinar a in a, et, proin?</li>
                <li id="simpleContained6Tab">Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Placerat sit? In pulvinar a in a, et, proin?</li>
            </ul>
        </div>

        <div class="eight columns first-column">
            <p class="single-project-content">Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Placerat sit? In pulvinar a in a, et, proin? Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Nunc odio ac! Dapibus et. Nec! Aliquam hac, porttitor?</p>
        </div>
        <div class="four columns middle-column">
            <p class="single-project-content">Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Nunc odio ac! Dapibus et. Nec!</p>
        </div>

        <div class="single-project-share-buttons">

            <div class="twelve columns">
                <div class="facebook-share-button">
                    <div class="facebook-share-button-over">Like It Now</div>
                    <div class="facebook-share-button-inner">
                        <iframe src="./KHM Profile_files/like(1).html" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true"></iframe>
                    </div>
                </div>
                <div class="twitter-tweet-button">
                    <div class="twitter-tweet-button-over">Tweet It</div>
                    <div class="twitter-tweet-button-inner">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="AvaThemes" data-related="AvaThemes">Tweet</a>
                        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "../../../platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
                    </div>
                </div>
                <div class="linkedin-share-button">
                    <div class="linkedin-share-button-over">Share It</div>
                    <div class="linkedin-share-button-inner">
                        <script src="./KHM Profile_files/in.js" type="text/javascript"></script>
                        <script type="IN/Share" data-url="http://themeforest.net/user/AVAThemes/portfolio" data-counter="right">
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <a class="close-reveal-modal">×</a>
    </div>

    <!-- Pop Up Windows - Single Blog Post -->
    <div id="single-news" class="reveal-modal single-news medium">

        <div class="single-news-image-video">
            <img src="./KHM Profile_files/1(3).jpg" alt="Project Image">
        </div>

        <h3 class="single-news-title">Your Blog Post Title Goes Here!</h3>

        <p class="single-news-details hide-for-small">
            <span>Published on</span> January 21st by Admin
            <span class="category">Category:</span> Photography, Website Design
        </p>

        <div class="twelve columns first-column">
            <p class="single-news-content"><span class="dropcap-1">P</span>hotos in Portfolio and News are property of <a href="http://seanwes.com/">Sean McCabe</a> and <a href="http://pixelpixelpixel.com/">pixelpixelpixel.com</a> Placerat sit? In pulvinar a in a, et, proin? Sit sagittis aliquet cras, rhoncus cras arcu odio risus a, auctor urna. Mus magna pulvinar, velit turpis parturient! Proin et. Enim mid proin mid eu augue odio elementum? Nunc odio ac! Dapibus et. Nec! Aliquam hac, porttitor?</p>

            <blockquote>
                <p>
                    I do not fear computers. I fear the lack of them. Porta natoque lacus urna cum, dictumst a risus facilisis, lundium, mid nisi lundium amet vel sit cursus proin in!
                    <cite>Isaac Asimov</cite>
                </p>
            </blockquote>

            <p class="single-news-content">Velit integer elit lacus ut enim nascetur augue proin magnis, turpis mus phasellus, placerat cursus scelerisque augue scelerisque, habitasse, et lectus? Porta natoque lacus urna cum, dictumst a risus facilisis, lundium, mid nisi lundium amet vel sit cursus proin in!</p>

            <p class="single-news-content">Lorem pulvinar penatibus in tortor porta purus auctor nisi lectus nascetur, porta? Turpis turpis? Lundium placerat ac eu adipiscing porttitor, et diam vut et! Cum augue! Massa arcu scelerisque pulvinar? Proin dictumst. Porttitor tincidunt egestas!</p>
        </div>



        <a class="close-reveal-modal">×</a>
    </div>
</div>
</div>