


<div>
        <div class="row">
             <div class="">
                <div class="panel">
                   
                        <div class="row">
                            <div class="col-sm-10 col-md-8" style="margin-left:17% !important;">
                              
                                    <!-- <p>Basic Bio Form to submit the Application</p> -->
                                    <br/>
                                    <br/><br/>
                                    <form name="applyForm" novalidate>
                                        <input type="hidden" name="action" value="contact">
                                        <div class="form-group">
                                            <label >Trade  </label>
                                            <select required name="trade" class="form-control" ng-model="trade" ng-options="item as item for item in tradeList">
                                                <option value="" >Select Trade</option>
                                            </select>
                                            <label class="validation-error" ng-if="!applyForm.trade.$valid">
                                                    * 
                                            </label>
                                        </div>
                                        
                                        <div class="form-group">
                                                <label>CNIC </label>
                                                <input type="number" required  name="cnic" class="form-control" placeholder="(Mandatory)" ng-model="cnic">
                                                <label class="validation-error" ng-if="!applyForm.cnic.$valid">
                                                        *
                                                </label>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label>Name (Minimum 4 characters)</label>
                                            <input type="text" required minlength="4" maxlength="40" name="name" class="form-control" placeholder="(Mandatory)" ng-model="name">
                                            <label class="validation-error" ng-if="!applyForm.name.$valid">
                                                    *
                                            </label>
                                        </div>
    
                                        <div class="form-group">
                                                <label>Date Of Birth </label>
                                                <div class="input-group" style="width:60%; float:right;">
                                                        <input type="text" required name="date_of_birth" class="form-control" ng-model="date_of_birth" uib-datepicker-popup="dd.MM.yyyy" ng-model="date" is-open="isDatepickerOpened" datepicker-options="datepickerOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                                        <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="isDatepickerOpened = !isDatepickerOpened">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                        </span>
                                                </div>
                                                <label class="validation-error" ng-if="!applyForm.date_of_birth.$valid">
                                                        * 
                                                </label>
                                        </div>
    
                                        <div class="form-group">
                                            <label >Height (Inch) </label>
                                            <select required class="form-control" name="height" ng-model="height" ng-options="item as item for item in integers">
                                                <option value="">Select Height</option>
                                            </select>
                                            <label class="validation-error" ng-if="!applyForm.height.$valid">
                                                    * 
                                            </label>
                                        </div>
    
                                        <div class="form-group">
                                            <label >Qualification  </label>
                                            <select required name="qualification" class="form-control" ng-model="qualification" ng-options="item as item for item in qualifictionList">
                                                <option value="">Select Qaualification</option>
                                            </select>
                                            <label class="validation-error" ng-if="!applyForm.qualification.$valid">
                                                    * 
                                            </label>
                                        </div>
    
                                        <div class="form-group">
                                            <label>English Speaking Level  </label>
                                            <select required class="form-control" name="esl" ng-model="english_speaking_level" ng-options="item as item.level for item in englishLevel">
                                                <option value="">Select Speaking Level</option>
                                            </select>
                                            <label class="validation-error" ng-if="!applyForm.esl.$valid">
                                                    * 
                                            </label>
                                        </div>
    
                                        <div class="form-group">
                                            <label>English Writing Level  </label>
                                            <select required class="form-control" name="ewl" ng-model="english_writing_level" ng-options="item as item.level for item in englishLevel">
                                                <option value="">Select Writing Level</option>
                                            </select>
                                            <label class="validation-error" ng-if="!applyForm.ewl.$valid">
                                                    * 
                                            </label>
                                        </div>
    
                                        <div class="form-group">
                                            <label>Phone Number </label>
                                            <input required type="number" name="phone_num" class="form-control" placeholder="(Mandatory)" ng-model="phone_num">
                                            <label class="validation-error" ng-if="!applyForm.phone_num.$valid">
                                                    * 
                                            </label>
                                        </div>
                                        
                                        
    
    
                                        <div class="form-group">
                                            <label >Weight (KG) </label>
                                            <select required class="form-control" name="weight" ng-model="weight" ng-options="item as item for item in integers">
                                                <option value="">Select Weight</option>
                                            </select>
                                            <label class="validation-error" ng-if="!applyForm.weight.$valid">
                                                    * 
                                            </label>
                                        </div>
    
                                        <div class="form-group">
                                            <label >Country  </label>
                                            <select required class="form-control" name="country" ng-model="country" ng-options="item as item.name for item in countryCityList">
                                                <option value="">Select Country</option>
                                            </select>
                                            <label class="validation-error" ng-if="!applyForm.country.$valid">
                                                    * 
                                            </label>
                                        </div>
    
    
                                        <div class="form-group">
                                            
                                                <label>City </label>
                                                <select required name="city" class="form-control" ng-model="city" ng-options="o as o.city for o in country.options">
                                                        <option value="">Select City</option>
                                                </select>
                                                <label class="validation-error" ng-if="!applyForm.city.$valid">
                                                        * 
                                                </label>
                                            
                                        </div>
                                        <br/>
                                        
                                        The following are optional fields, you will get + points on filling the optional fields
    
                                        <br/><br/><br/><br/><br/>

                                        <div class="form-group">
                                            <label>Secondary Phone Number </label>
                                            <input type="number" name="second_phone_num" class="form-control" placeholder="(optional)" ng-model="second_phone_num">
                                        </div>

                                        
                                        <div class="form-group">
                                                <label>Email</label>
                                                <input type="email" name="email" class="form-control" placeholder="(optional)" ng-model="email">
                                                <label class="validation-error" ng-if="!applyForm.email.$valid">
                                                    incorrect
                                                </label>
                                        </div>
    
                                        <div class="form-group">
                                            <label>Passport Number</label>
                                            <input type="text" name="passport" class="form-control" placeholder="(optional)" ng-model="passport">
                                        </div>

                                        <div class="form-group">
                                                <label>Passport Expiry Date</label>
                                                <div class="input-group" style="width:60%; float:right;">
                                                        <input type="text" class="form-control" ng-model="passport_expiry" uib-datepicker-popup="dd.MM.yyyy" ng-model="date" is-open="isDatepickerOpen" datepicker-options="datepickerOptions" close-text="Close" alt-input-formats="altInputFormats"/>
                                                        <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="isDatepickerOpen = !isDatepickerOpen">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                        </span>
                                                </div>
                                        </div>
                                    
    
                                        <div class="form-group">
                                            <label >Overseas Experience (Years)</label>
                                            <select class="form-control" ng-model="overseas_experience" ng-options="item as item for item in integers">
                                                <option value="">Select Experience</option>
                                            </select>
                                        </div>
    
                                        <div class="form-group">
                                            <label >Local Experience (Years)</label>
                                            <select class="form-control" ng-model="local_experience" ng-options="item as item for item in integers">
                                                <option value="">Select Experience</option>
                                            </select>
                                        </div>
    
                                        <br/><br/><br/><br/>
                                        <div class="form-actions">
                                            <div ng-if="applyForm.$invalid">
                                                    <a style="display: table;  margin: 0 auto;" disabled class="btn btn-danger btn-lg "  ng-click="submitApplyForm(false)">Submit Application</a>
                                            </div>
                                            <div ng-if="!applyForm.$invalid">
                                                    <a style="display: table; margin: 0 auto;" class="btn btn-primary btn-lg theme-button" ng-click="submitApplyForm(true)">Submit Application</a>
                                            </div>
                                        </div>      
                                    </form>
                                    <label ng-if="isApplied"  style="font-size: 29px; color: #307530;"> {{info}} </label>
                                    <label ng-if="!isApplied"  style="font-size: 29px; color: red;"> {{info}} </label>
                        
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>