<!--Pulling Awesome Font -->
<!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->

<!-- <link href="../../../assets/css/login.css" rel="stylesheet"> -->

<!-- <div>
        <div class="row">
            <div class="col-md-offset-5 col-md-3 center-align login-box">
              This about home page
              <slide-show slides="slides"></slide-show>
            </div>
        </div>
    </div> -->

<!-- <style> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://daneden.github.io/animate.css/animate.min.css"> -->
<!-- </style> -->

<!-- <slide-show slides="slides"></slide-show> -->



<slide-show slides="slides"></slide-show>






<div class="section about-container">
    <div class="text-center">
        <h1 class="text-uppercase">Our Company</h1>
        <p class="lead">

            We are immensely pleased to present the high quality services provided by our team, consisting of thorough
            professionals and experts. Quality has always been our first priority and we are committed to deliver the
            very best to our esteemed clients as they like it. Aspiring to sour to the heights of global standards, our
            professionalism aims at understanding our client’s mindset, so that the results are as per their liking.
            Our keen and vigilant eye is also on the transitions that are taking place in the industry, as we
            accordingly equip ourselves to meet the changing trends. To keep ourselves at par with the ever changing
            standard, we never slack in picking up the very best of human resource that is there to do it for us.
        </p>
        <p class="lead">
            we are thoroughly privileged and pleased to see how our company is managing the juxtaposition of very best
            suited human capital with your unique and subtle requirements in a most conducive working environment.
        </p>
        <p class="lead">
            We will be more than flattered to have your enquiries and to provide an appropriate and prompt feedback to
            that. On behalf of KHM Consultancy & Knight Human Resources (Pvt) Ltd, I assure you of our very best
            services that we provide by integrating care and perseverance, while providing you with the solutions.
        </p>
    </div>
</div>

<div class="section about-container">
        <div class="text-center">
                <h1 class="text-uppercase">Our Clients</h1>
            </div>
        <img style="width: 100%; height: 70%;" src="assets/img/recruiter/images/clients.png" >
 </div>

<!-- <div class="section about-container">
        <img style="width: 100%" src="assets/img/recruiter/images/KHM Group Profile_1-1.jpg" >
 </div> -->