<div>
    <div class="row">
        <div class="">
            <div class="page-block">
                <h2>Importance of data</h2>
                <p>
                    Your words and actions tells the stories what (good, bad) you have done, are doing and will do. Stories tells the attentions
                    to the future and also give hints about the mistakes you can commit or issues you can face.
                </p>
                <br/>
                <h2>Predictive Analytics</h2>
                <p>We will predict about the mistakes and issues and will provide their solutions saving you from loss and failure</p>
                <p>Performace Analyser is totally about the employess performance, So it will predict about</p>
                <ol>
                    <li>Technical and ethical issues </li>
                    <li>Communicational mistakes and failure</li>
                    <li>Clients loss due to employees skills or commication</li>
                    <li>Mistakes and issues in writen and spoken communication</li>
                    <li>Estiated loss in ROI </li>
                    <li>Manegerial mistakes in resource usage according to skills and communications</li>
                </ol>
                <br/>
                <h3>Predictive Solutions</h3>
                <ol>
                    <li>Key employees to target according to importance</li>
                    <li>Key skill and communication trainings</li>
                    <li>Key technologies to target</li>
                    <li>Specific traingings for specific emplyees</li>
                    <li>Effective use of employees according to their skills</li>
                </ol>
            </div>

        </div>
    </div>
</div>