<div>
    <div class="row">
        <div class="">
            <div class="page-block">
                <h2>Employees Performace, Review and Feedback</h2>
                <p>Its hard and time tal=king process to analyse the employees performance and their needs to keep the organization
                    on successful track.</p>
                <p>Employees weekly, monthly and yearly reviews are also very hard to give them honest and right feedback to
                    use and polish their skills in right way.</p>

                <h2>Performance Analytics</h2>
                <p>We have solved the performance reviews and feedback issues that either these are right or wrong, hosnest
                    or dishonest, intime or late bacecause we will get each and every kpi from your actions and words because
                    actions speek louder than the words. We will inform you with your progress mistakes as well in each second
                    of your work :). We analyse the project management data, communication data and attendance data to analyse
                    organizational performance and growth</p>
                <p>Performace Analyser is totally about the employess performance, So it will get and predict about employees</p>
                <ol>
                    <li>Hourly/daily/weekly/monthly and yearly performance</li>
                    <li>Performance and growth</li>
                    <li>Honesty and lyality with work</li>
                    <li>Ethical and technical behaviours</li>
                    <li>Ethical and technical growths and issues</li>
                    <li>Managerial growth, issues and mistakes</li>
                    <li>Leadership qualities</li>
                    <li>Emplyees contribution to the success and failures</li>
                    <li>Complete 360 emplyees reviews</li>
                </ol>

            </div>

        </div>
    </div>
</div>