


<div>
    <div class="row">
         <div class="">
            <div class="page-block">




                    <div class="team-profile" ng-repeat="member in team" ng-show='loading==0'>
      
                                   <div>
                                        <img class="team-image" src="{{ ::member.image }}" alt="Mountain View" width="500" height="377">
                                   </div>

                                   <div class="profile-details">
                                        <div class="designation">Designation</div>
                                        <h5>{{ ::member.designation }}</h5>
                                   
                                   <div>
                                        {{ ::member.description }}
                                   </div>
                                </div>
                                <!-- <a href="" class="chart-details fa fa-external-link" style="font-size: 1.4em;" ng-click="goTo(chart)"></a>
                              <div class="pie-chart-item">
                                <div class="row">
                                  <div class="description block">
                                    <div>
                                      <div class="main-info">
                                          
                                        {{ ::chart.stats }}
                                      </div>
                                      <div class="description-stats block"><i class="text-success fa fa-dot-circle"></i>{{ ::chart.description }}</div>
                                    </div>
                                  </div>
                                  <div class="block" ng-repeat="kpi in ::chart.kpi ">
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="block stats"> {{ ::kpi.count }} 
                                    <div class="sub-title"> <i class="{{ ::kpi.color }} fa fa-dot-circle"></i>{{ ::kpi.title }} </div>
                                    
                                  </div>
                                  </div>
                        
                                </div>
                                
                                <i class="chart-icon fa {{ ::chart.icon }}" style="font-size: 3.4em;"></i>
                                <hr>
                                
                              </div> -->
                          </div>





                </div>
            </div>

        </div>
    </div>
<!-- </div> -->