@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:$body-bg;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}

.container {
    padding: 25px;
    position: fixed;
}

.form-login {
    background-color: $default;
    border-radius: 15px;
    border-color:#1a1a1a;
    border-width: 5px;
    box-shadow:0 1px 0 #1a1a1a;
    padding: 10px 20px;
}
.center-align {
    // margin-left:55%; 
    // margin-top:15%
    margin: 10% auto;
    float: none;
}

h4 { 
 border:0 solid #1a1a1a; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}
.login-box{
    width: 100%;
    max-width: 440px;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
.login-text {
    font-size: 14px;
    margin: 0 auto;
    color: $default-text;
}