<!--Pulling Awesome Font -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<!-- <link href="../../../assets/css/login.css" rel="stylesheet"> -->

<div>
    <div class="row">
        <div class="col-md-offset-5 col-md-3 center-align login-box">
            <div class="form-login">
            <h4>Welcome</h4>
             <a href="#/signin" class="login-text" >Have account? Login!</a>
             </br>
             </br>
             <input type="text" id="name" style="width:100%; margin-top:10px;" class="form-control input-md chat-input" placeholder="name" validate="required" ng-model="name"/>
            </br>
            <input type="email" id="userName" style="width:100%; margin-top:10px;"  class="form-control input-md chat-input" placeholder="Email" validate="email" ng-model="email"/>
            </br>
            <input type="password" style="width:100%; margin-top:10px;" id="userPassword" class="form-control input-md chat-input" placeholder="Password" validate="required" ng-model="password"/>
            </br>
            <div class="wrapper">
             <div> <span style="color: red;">
                {{validateMessage}}
              </span>
              <span style="color: green;">
                {{succesfulRegistered}}
              </span></div>
            <span class="group-btn">     
                <button style=" margin:10px;" class="btn btn-primary btn-lg theme-button" ng-click="signup()">Register <i class="fa fa-sign-in"></i></button>
            </span>
            </div>
            </div>
        
        </div>
    </div>
</div>