.page-block {
    background-color: #353438;
    border-radius: 0;
    border-color: #1a1a1a;
    border-width: 5px;
    box-shadow: 0 1px 0 #1a1a1a;
    padding: 30px;
    p {
        line-height: 2;
        font-size: 17px;
    }
    ol,ul {
        li {
            line-height: 2;
            font-size: 17px;
        }
    }
}

.row{
    margin: 0 auto;
}
