<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addAccount()">Add Account</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td></td>
    <td>User Name</td>
    <td>Password</td>
    <td>Domain</td>
    <td>Validation</td>
    <td>Actions</td>
  </tr>
  <tr ng-repeat="user in accounts" class="editable-row">
    <td>
        {{$index}}
    </td>
    <td>
        <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
          {{ user.name || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.password" e-name="password" e-form="rowform" e-required>
          {{ user.password || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.domain" e-name="domain" e-form="rowform" e-required>
          {{ user.domain || 'empty' }}
        </span>
    </td>
      <td class="select-td">
        <span href="#" checkbox="user.validated" e-name="validated" e-title="DB import?" e-form="rowform" e-required>
          {{ user.validated && "Validated!" || "Not Validated" }}
        </span>
    </td>
    <td width="400px">
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted_account == user">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs" ng-click="updateAccount(user)">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelAccount(user)" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="validateAccount($index)">{{user.action}}</button>
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="getAccountProjects($index)">View Projects</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteAccount($index)">Delete</button>
        <rotating-plane-spinner ng-show='loading==1'/>
      </div>
    </td>
  </tr>
</table>
