<div class="add-row-editable-table">
  <button class="btn btn-primary" ng-click="addJob()">Add Job</button>
</div>
<table class="table table-bordered table-hover table-condensed">
  <tr style="font-weight:bold">
    <!-- <td></td> -->
    <td>Title</td>
    <td>Comapany</td>
    <td>Salary</td>
    <td>Location</td>
    <td>Requirements</td>
    <td>Actions</td>
  </tr>
   
  <tr ng-repeat="user in jobs" class="editable-row">
    <!-- <td>
        {{$index}}
    </td> -->
    <td>
        <span editable-text="user.title" e-name="title" e-form="rowform" e-required>
          {{ user.title || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.company" e-name="company" e-form="rowform" e-required>
          {{ user.company || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.salary" e-name="salary" e-form="rowform" e-required>
          {{ user.salary || 'empty' }}
        </span>
    </td>
      <td class="select-td">
        <span editable-text="user.location" e-name="validated"  e-form="rowform" e-required>
            {{ user.location || 'empty' }}
        </span>
    </td>
    <td class="select-td">
      <span editable-text="user.requirements" e-name="validated"  e-form="rowform" e-required>
          {{ user.requirements || 'empty' }}
      </span>
  </td>
    <td width="400px">
      <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted_account == user">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs" ng-click="updateJob_(user)">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancelJob($index)" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>
      
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
        <button class="btn btn-primary editable-table-button btn-xs" ng-click="updateJob(user)">Backup</button>
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="deleteJob($index)">Delete</button>
        <rotating-plane-spinner ng-show='loading==1'/>
      </div>
    </td>
  </tr>
</table>
