
<table class="table table-bordered table-hover table-condensed">
  <tr style="font-weight:bold">
    <!-- <td></td> -->
    <td>Title</td>
    <td>Comapany</td>
    <td>Salary</td>
    <td>Location</td>
    <td>Requirements</td>
    <td>Actions</td>
  </tr>
  <tr ng-repeat="user in jobs" class="editable-row">
    <!-- <td>
        {{$index}}
    </td> -->
    <td>
        <span editable-text="user.title" e-name="title" e-form="rowform" e-required>
          {{ user.title || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.company" e-name="company" e-form="rowform" e-required>
          {{ user.company || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.salary" e-name="salary" e-form="rowform" e-required>
          {{ user.salary || 'empty' }}
        </span>
    </td>
      <td class="select-td">
        <span editable-text="user.location" e-name="validated"  e-form="rowform" e-required>
            {{ user.location || 'empty' }}
        </span>
    </td>
    <td class="select-td">
      <span editable-text="user.requirements" e-name="validated"  e-form="rowform" e-required>
          {{ user.requirements || 'empty' }}
      </span>
  </td>
    <td width="400px">
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="applyJob($index)">Apply</button>
        <rotating-plane-spinner ng-show='loading==1'/>
      </div>
    </td>
  </tr>
</table>
