
<table class="table table-bordered table-hover table-condensed">
  <tr>
    <td></td>
    <td>Name</td>
    <td>Project Key</td>
    <td>Domain</td>
    <td>Description</td>
    <td>Import (into DB)</td>
    <td>Actions</td>
  </tr>
  <tr ng-repeat="user in projects" class="editable-row">
    <td>
        {{$index}}
    </td>
    <td>
        <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
          {{ user.name || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.key" e-name="key" e-form="rowform" e-required>
          {{ user.key || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.domain" e-name="domain" e-form="rowform" e-required>
          {{ user.domain || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.description" e-name="description" e-form="rowform" e-required>
          {{ user.description || 'empty' }}
        </span>
    </td>
      <td class="select-td">
        <span href="#" checkbox="user.imported" e-name="import" e-title="DB import?" e-form="rowform" e-required>
          {{ user.import.status && "Imported!" || "Not imported" }}
        </span>
    </td>
    <td>
      <!--<form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
            shown="inserted == user">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs" ng-click="updateProject(user)">
          Save
        </button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
          Cancel
        </button>
      </form>-->
      
      <div class="buttons" ng-show="!rowform.$visible">
        <!--<button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>-->
        <button class="btn btn-danger editable-table-button btn-xs" ng-click="importProject($index)">{{user.import.action}}</button>
        <rotating-plane-spinner ng-show='loading==1'/>
      </div>
    </td>
  </tr>
</table>
