<div class="add-row-editable-table">
    <div class="form-group search-control">
        <label>Phone Number  </label>
        <input type="number" name="phone_num" class="form-control" placeholder="(Phone Number)" ng-model="searcObj.phone_num">
    </div>
    
    <div class="form-group search-control">
        <label>CNIC</label>
        <input type="number" name="searcObj.cnic" class="form-control" placeholder="(CNIC)" ng-model="searcObj.cnic">
    </div>
<br/>
    <div >
        <a style="float: right;     margin: 11px" class="btn btn-primary btn-small theme-button" ng-click="searchUser(searcObj,true)">Search</a>
  </div>
</div>
