

<br/><br/><br/><br/>
<table class="table table-bordered table-hover table-condensed">
  <tr style="font-weight:bold">
    <td></td>
    <td>Trade</td>
    <td>Name</td>
    <td>CNIC</td>
    <td>Date Of Birth</td>
    <td>Age</td>
    <td>Height(Inches)</td>
    <td>Weight(Kg)</td>
    <td>Phone</td>
    <td>Phone (2nd)</td>
    <td>Email</td>
    <td>Qualification</td>
    <td>English Speaking</td>
    <td>English Writing</td>
    <td>English Listening</td>
    <td>Country</td>
    <td>City</td>
    <td>Passport#</td>
    <td>Passport Expiry Date</td>
    <td>Local Experience</td>
    <td>Overseas Experience</td>
    <td>Documents</td>
    <td>Status</td>
    <td>Seen By</td>
    <td>Actions</td>
  </tr>
  <tr ng-repeat="user in searchTable" class="editable-row">
    <td>
        {{$index}}
    </td>
    <td>
        <span editable-text="user.trade" e-name="trade" e-form="rowform" e-required>
          {{ user.trade || 'empty' }}
        </span>
    </td>
    <td>
        <span editable-text="user.name" e-name="name" e-form="rowform" e-required>
          {{ user.name || 'empty' }}
        </span>
    </td>
    <td>
        <span editable-text="user.cnic" e-name="cnic" e-form="rowform" e-required>
          {{ user.cnic || '0' }}
        </span>
    </td>
    <td>
        <span editable-text="user.date_of_birth" e-name="date_of_birth" e-form="rowform" e-required>
          {{ user.date_of_birth || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.age" e-name="age" e-form="rowform" e-required>
          {{ user.age || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.height" e-name="height" e-form="rowform" e-required>
          {{ user.height || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.weight" e-name="weight" e-form="rowform" e-required>
          {{ user.weight || 'empty' }}
        </span>
    </td>
    <td>
        <span editable-text="user.phone_num" e-name="phone_num" e-form="rowform" e-required>
          {{ user.phone_num || 'empty' }}
        </span>
    </td>
    <td>
        <span editable-text="user.second_phone_num" e-name="second_phone_num" e-form="rowform" e-required>
          {{ user.second_phone_num || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.email" e-name="email" e-form="rowform" e-required>
          {{ user.email || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.qualification" e-name="qualification" e-form="rowform" e-required>
          {{ user.qualification || 'empty' }}
        </span>
    </td>


    <td class="select-td">
        <span editable-text="user.english_speaking_level" e-name="english_speaking_level" e-form="rowform" e-required>
          {{ user.english_speaking_level || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.english_writing_level" e-name="english_writing_level" e-form="rowform" e-required>
          {{ user.english_writing_level || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.english_listening_level" e-name="english_listening_level" e-form="rowform" e-required>
          {{ user.english_listening_level || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.country" e-name="country" e-form="rowform" e-required>
          {{ user.country || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.city" e-name="city" e-form="rowform" e-required>
          {{ user.city || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.passport" e-name="passport" e-form="rowform" e-required>
          {{ user.passport || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.passport_expiry" e-name="passport_expiry" e-form="rowform" e-required>
          {{ user.passport_expiry || 'empty' }}
        </span>
    </td>

    <td class="select-td">
        <span editable-text="user.local_experience" e-name="local_experience" e-form="rowform" e-required>
          {{ user.local_experience || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.overseas_experience" e-name="overseas_experience" e-form="rowform" e-required>
          {{ user.overseas_experience || 'empty' }}
        </span>
    </td>
    <td class="select-td">
        <span editable-text="user.documents" e-name="documents" e-form="rowform" e-required>
          {{ user.documents || 'empty' }}
        </span>
    </td>
   
    <td class="select-td">
        <span editable-text="user.status" e-name="status" e-form="rowform" e-required>
          {{ user.status || 'empty' }}
        </span>
    </td>
    
    <td class="select-td">
      <span editable-text="user.documents" e-name="seen_by" e-form="rowform" e-required>
        {{ user.seen_by || 'empty' }}
      </span>
  </td>
  </tr>
</table>
