<div class="add-row-editable-table">
    <div class="form-group search-control">
        <label >Trade </label>
        <select name="trade" class="form-control" ng-model="searcObj.trade" ng-options="item as item for item in tradeList">
            <option value="" >Select Trade</option> 
        </select>
    </div>
    <div class="form-group search-control">
        <label >Age (Years) </label>
        <select class="form-control" name="age" ng-model="searcObj.age" ng-options="item as item for item in integers">
            <option value="">Select Height</option>
        </select>
    </div>
 
    <div class="form-group search-control">
        <label >Height (Inch) </label>
        <select class="form-control" name="height" ng-model="searcObj.height" ng-options="item as item for item in integers">
            <option value="">Select Height</option>
        </select>
    </div>

    <div class="form-group search-control">
        <label >Qualification  </label>
        <select name="qualification" class="form-control" ng-model="searcObj.qualification" ng-options="item as item for item in qualifictionList">
            <option value="">Select Qaualification</option>
        </select>
    </div>

    <div class="form-group search-control">
        <label>English Speaking  </label>
        <select class="form-control" name="esl" ng-model="searcObj.english_speaking_level" ng-options="item as item.level for item in englishLevel">
            <option value="">Select Speaking Level</option>
        </select>
    </div>

    <div class="form-group search-control">
        <label>English Writing  </label>
        <select  class="form-control" name="ewl" ng-model="searcObj.english_writing_level" ng-options="item as item.level for item in englishLevel">
            <option value="">Select Writing Level</option>
        </select>
    </div>

    <div class="form-group search-control">
        <label>Phone Number  </label>
        <input type="number" name="phone_num" class="form-control" placeholder="(Phone Number)" ng-model="searcObj.phone_num">
    </div>
    
    <div class="form-group search-control">
        <label>CNIC</label>
        <input type="number" name="searcObj.cnic" class="form-control" placeholder="(CNIC)" ng-model="searcObj.cnic">
    </div>

    <div class="form-group search-control">
            <label>Seen Level  </label>
            <select  class="form-control" name="seen" ng-model="searcObj.seenLevel" ng-options="item as item.level for item in seenLevels">
                <option value="">Select Seen level</option>
            </select>
        </div>

    <div >
        <a style="float: right;     margin: 11px" class="btn btn-primary btn-small theme-button" ng-click="searchUser(searcObj)">Search</a>
  </div>
</div>
