<!DOCTYPE html>
<html lang="en" ng-app="BlurAdmin">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Recruiter</title>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic' rel='stylesheet' type='text/css'>

  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">

  <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp/serve,src}) styles/app.css -->
  <!-- inject:css -->
  <!-- css files will be automatically insert here -->
  <!-- endinject -->
  <!-- endbuild -->

  <!--<link rel="stylesheet" href="bower_components/angular-spinkit/build/angular-spinkit.min.css">
<script src="bower_components/angular-spinkit/build/angular-spinkit.min.js"></script>-->
<script src="bower_components/angular-spinner/dist/angular-spinner.min.js"></script>
</head>
<body>
<div class="body-bg"></div>
<main ng-if="$pageFinishedLoading" ng-class="isLoged?{'menu-collapsed': $baSidebarService.isMenuCollapsed() }:'menu-collapsed'">
  <!-- <div ng-if="isLoged"> -->
    <ba-sidebar ng-if="isLoged"></ba-sidebar>
    <!-- </div> -->

  <page-top></page-top>

  <div class="al-main">
      <!-- <slide-show slides="slides"></slide-show> -->
    <div class="al-content">
      <content-top></content-top>
      <div ui-view autoscroll="true" autoscroll-body-top></div>
    </div>
  </div>

  
  <footer class="al-footer clearfix">
    <!-- <div class="al-footer-main clearfix">
      <div class="al-copy">Recruiter @</div>
      <ul class="al-share clearfix">
        <li><i style="height:30px; width:30px;">
          <a class="socicon socicon-facebook" target="_blank" href="https://web.facebook.com/knighthumangroup/"></a>
        </i>
      </li> -->
        <!-- <a class="socicon socicon-facebook" target="_blank" href="https://web.facebook.com/knighthumangroup/">Link</a>
        <li><i class="socicon socicon-twitter"></i></li>
        <li><i class="socicon socicon-google"></i></li>
      </ul> -->
    <!-- </div> -->
    <div class="section about-container">
        <i style="height:30px; width:30px;">
            Recruiter @
          <a class="socicon socicon-facebook" target="_blank" href="https://web.facebook.com/knighthumangroup/"></a>
        </i>
        <div class="text-center">
            </div>
        <img style="width: 100%; height: 50%;" src="assets/img/recruiter/images/khm-footer.jpg" >
 </div>
  </footer>

  <!-- <back-top></back-top> -->
</main>

<div id="preloader" ng-show="!$pageFinishedLoading">
  <div></div>
</div>

<!-- build:js(src) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->
<!-- <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> -->

<!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->

<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</body>
</html>