<!--<div class="wid
 <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Accounts" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/management/widgets/accountsTable.html"></div>
      </div>
    </div>
  </div>-->

  <div class="row">
      <div class="col-md-12">
        <div ba-panel ba-panel-title="Result Seach" ba-panel-class="with-scroll">
          <div include-with-scope="app/pages/management/widgets/resultSearchCriteria.html"></div>
        </div>
      </div>
    </div>

  <div ng-if="searchTable.length > 0" class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Result" ba-panel-class="with-scroll">

          <a ng-if="searchTable.length > 0 && isLoged" style="float: left; margin-left: 11px;" class="btn btn-primary btn-small theme-button" ng-click="downloadSearch(searcObj)">Download Result</a>
        <div include-with-scope="app/pages/management/widgets/searchTable.html"></div>
      </div>
    </div>
  </div>

</div>