<!--<div class="wid
 <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Accounts" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/management/widgets/accountsTable.html"></div>
      </div>
    </div>
  </div>-->

  <div class="row">
      <div class="col-md-12">
        <div ba-panel ba-panel-title="Seach" ba-panel-class="with-scroll">
          <div include-with-scope="app/pages/management/widgets/searchCriteria.html"></div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Seach Result" ba-panel-class="with-scroll">
          <a style="float: left;     margin: 11px" class="btn btn-primary btn-small theme-button" ng-click="downloadOverall()">Download Overall</a>
         
          <a ng-if="searchTable.length > 0" style="float: left;     margin: 11px" class="btn btn-primary btn-small theme-button" ng-click="downloadSearch(searcObj)">Download Searched</a>
        <div include-with-scope="app/pages/management/widgets/searchTable.html"></div>
      </div>
    </div>
  </div>

</div>