<div class="wid">
<div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Accounts" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/management/widgets/accountsTable.html"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="Projects" ba-panel-class="with-scroll">
        <div include-with-scope="app/pages/management/widgets/projectsTable.html"></div>
      </div>
    </div>
  </div>

</div>