.pie-charts {
  color: #000000 red;
  .row {
    // width: 100%;
    text-align: left;
    // margin: 0 auto;
  }
  .main-info{
    font-size: 24px;
    font-weight: bold;
  }
  .sub-title {
    margin-top: 9px;
    font-size: 12px;
}
.stats{
  font-weight: bold;
  font-size:18px !important;
}
  .block {
    display: inline-block; // display inline with abality to provide width/height
    font-size: 17px;
    text-align: center;
    vertical-align: bottom;
    text-transform: uppercase;
  }

  .fa-dot-circle:before {
    content: "\f192";
    margin-right: 5px;
    font-size: 10px;
  }

  // .fa-external-link-alt:before {
  //   content: "\f360";
  //   font-size: 20px;
  // }

  .pie-chart-item-container {
    position: relative;
    padding: 0 15px;
    float: left;
    box-sizing: border-box;

    .panel {
      height: $small-panel-height;
    }
  }
  @media screen and (min-width: 1325px) {
    .pie-chart-item-container {
      width: 25%;
    }
  }
  @media screen and (min-width: 700px) and (max-width: 1325px)  {
    .pie-chart-item-container {
      width: 50%;
    }
  }
  @media screen and (max-width: 700px)  {
    .pie-chart-item-container {
      width: 100%;
    }
  }

  .chart-details {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
    cursor: pointer;
  }

  .pie-chart-item {
    position: relative;
    .chart-icon {
      position: absolute;
      right: 0px;
      top: 20px;
      z-index: -1;
    }
  }
  @media screen and
    (min-width: 1325px) and (max-width: 1650px),
    (min-width: 700px) and (max-width: 830px),
    (max-width: 400px) {
    .chart-icon {
      display: none;
    }
  }

  .chart {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 84px;
    text-align: center;
  }
  .chart canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .percent {
    display: inline-block;
    line-height: 84px;
    z-index: 2;
    font-size: 19px;
  }
  .percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
  }
  .description {
    display: inline-block;
    // padding: 20px 0 0 20px;
    // font-size: 20px;
    opacity: 0.9;
    .description-stats {
      margin-left: 7px;
      margin-top: 9px;
      // padding-top: 8px;
       font-size: 12px;
      // color: $primary-light;
      // font-weight: bold;
    }
  }
  .angular {
    margin-top: 100px;
  }
  .angular .chart {
    margin-top: 0;
  }
}