<!-- <dashboard-pie-chart></dashboard-pie-chart> -->

<div>
  <h1>COMING SOON......</h1>
</div>
<!-- <div class="row">
  <div class="col-lg-8 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Performance downgraders"
       ba-panel-class="medium-panel traffic-panel">
    <traffic-chart></traffic-chart>
  </div> -->
  <!-- <div class="col-xlg-4 col-lg-12 col-md-12 col-sm-5 col-xs-12"
           ba-panel
           ba-panel-class="popular-app medium-panel">
        <popular-app></popular-app>
      </div>
</div> -->
